# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# production output
/build

# local environment files
.env*
!.env.example

# Vercel
.vercel

# logs and OS files
*.log
.DS_Store

# TypeScript
*.tsbuildinfo
